.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #ffffff;
}

.mainColumn {
	width: 1180px;
	margin: auto;
}

.loadOverlay {
	display: none;
}